.calculadora {
	bac
	background-color: #333 ;
	border: 3px solid #04e;
	width: 20%;
	text-align: center;
}
#textoPantalla{
	border: 2px solid #000;
	text-align: right;
	width: 80%;
	margin-left: 20px;
	background-color: #fff;
	position: relative;
	font-family: courier new;
	overflow: hidden;
	padding: 0px 5px;
}

.calculadora [type=button] { 
	width: 35px;
	padding: 0; 
}

.calculadora input.largo {
	color: red;
	width: 60px;
}

